.note-bottom-bar {
  padding-top: 20px;
  background-color: #0b57cf;
}

.new-note {
  display: flex;
  justify-content: space-between;
  padding: 15px;

}

.notes-buttons {
  display: flex;
  gap: 15px;
}

.notes-buttons>* {
  cursor: pointer;
}

.note-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.editor {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editor input {
  padding: 10px;
}



.add-note-container {

  flex: 1;
  margin-inline-start: 200px;
  border: none;
  outline: none;
  width: 600px;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: -1px -1px 13px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;


}

blockquote {
  background: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 16px 0;
  outline: none;
}

blockquote p {
  padding: 2px;
}

.note-editor-button {
  display: flex;
  justify-content: space-between;

}

.note-editor-button .close {
  border: none;
  background-color: inherit;
  cursor: pointer;
  height: max-content;
  padding: 10px;
}

.tools-btns>* {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tools-btns>*:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.note-editor-button .close:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tools-btns {
  display: flex;
  gap: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Note editor styling */
.update-note {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 11;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-note input,
.update-note textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  font-size: 14px;
}