.note-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  color: #202124;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  min-height: 100px;
  width: 240px;

}

.remove {
  position: absolute;
  padding: 5px;
  opacity: 0;
  transition: 0.5s;
  right: 0;
  top: 0;
  cursor: pointer;
  /* width: 40px;
  height: 40px; */
  border-radius: 45%;
}

.note-preview:hover .remove {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  background-color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.note-layout {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline-start: 5px;
  gap: 15px;
}

.note-preview .tools-btns {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.note-preview:hover .tools-btns {
  opacity: 1;
}