 /* note list */

 .anote-list {
   display: grid;
   grid-auto-flow: dense;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 10px;
 }

 .notes-workspace {
   margin-top: 10px;
 }

