.note-page .side-bar {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: 256px;
  padding: 8px 0;
  color: #202124;
  background-color: #fefefe;
}

.note-page .side-bar-category {
  height: 48px;
  display: flex;
  align-items: center;
}

.note-page .side-bar-category i {
  margin-left: 10px;
  font-size: 1.5em;
  /* height: 14px; */
  width: 14px;
}

.note-page .inbox,
.note-page .starred,
.note-page .sent,
.note-page .draft,
.note-page .trash {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 32px;
  border-radius: 0 50px 50px 0;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #202124;
}

.note-page .inbox span:first-of-type,
.note-page .starred span:first-of-type,
.note-page .sent span:first-of-type,
.note-page .draft span:first-of-type,
.note-page .trash span:first-of-type {
  margin-left: 10px;

}

.note-page .inbox span:last-child,
.note-page .starred span:last-child,
.note-page .sent span:last-child,
.note-page .draft span:last-child,
.note-page .trash span:last-child {
  /* margin-left: auto; */

  margin-left: 35px;
  color: #5f6368;
  font-size: 14px;
  font-weight: bolder;
}

.note-page .inbox:hover,
.note-page .starred:hover,
.note-page .sent:hover,
.note-page .draft:hover,
.note-page .trash:hover {
  background-color: #e8eaed;

}