.tools-btns>* {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tools-btns>*:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.note-editor-button .close:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tools-btns {
  position: relative;
  display: flex;
  gap: 15px;
}

.palette-modal {
  position: absolute;
  top: 50px;
  left: 5%;
  width: max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid #0e0202;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  gap: 10px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.color-circle:hover {
  transform: scale(1.2);
}