

.mail-page .logo {
    width: 256px;
}


.mail-page .search-bar::before {
    /* z-index: 0; */
    left: 15px;
    
    content: '\f002';
    font-size: 0.8em;
    position: absolute;
    /* color: transparent; */
    pointer-events: none;
    font-family: "fa-solid";
    /* text-shadow: 0 0 0 lightgray; */
}

.mail-page .user-details {
    
    width: 100px;
    display: flex;
    gap: 0.7em;
    align-items: center;
    /* justify-items: space-between; */
    justify-content: end;
    place-items: center;
    
    margin-right: 20px;
    /* margin-inline: auto; */
}

.mail-page .user-details {
    margin-left: auto;

}

.mail-header img {
    /* overflow: initial; */
    width: auto;
    height: 20px;
    object-fit: contain;
    width: 40px;
    height: 40px;
}


.mail-page .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    cursor: text;
    border: none;

    
    display: flex;
    gap: 8px;
}

.mail-page .mail-page .search-bar button {
    padding: 8px 16px;
    cursor: pointer;
}

.mail-page input.searchbox {    
    /* z-index: 1; */
    
    height: 44px;
    outline: none;
    font-size: 0.8em;
    border-radius: 6px;
    /* margin-block: 40px; */
    padding-inline: 20px;
    /* border: 1px solid gray; */
    margin-block: 12px;
    background-color: #e2eaf3;

    padding-inline-start: 40px;
    
}


.mail-page .mail-header {
    background-color: #f5f7fb;
    /* background-color: #f0f5f8; */
    display: flex;
    
}

.mail-page .compose {

    width: 256px;
  }
  
.mail-page .compose button {
    display: flex;
    gap: 0.7em;
    /* justify-items: space-between; */
    padding: 16px 24px;
    background-color: #c1e6fe;
    border-radius: 16px;
    margin: 8px;
    border: 0;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.15); */
    cursor: pointer;
    font-size: 14px;
}

.mail-page .search {
    /* background-color: #f1f3f4; */
    /* border-radius: 8px; */
    /* padding: 8px 16px; */
    /* margin: 8px; */
    /* width: 100%; */
    /* max-width: 720px; */
  }
  
.mail-page .main-layout {
    display: flex;
    height: 100vh;
    background-color: #fff;
    

}
  
.mail-page .side-bar {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: 256px;
    padding: 8px 0;
    /* background-color: #f0f5f8; */
    background-color: #f5f7fb;
    
    /* border-right: 1px solid #e0e0e0; */
}
  
.mail-page .side-bar-category {

    display: flex;
    
}

.mail-page .side-bar-category i {
    height: 14px;
    width: 14px;
}

.mail-page .inbox,
.mail-page .starred,
.mail-page .sent,
.mail-page .draft,
.mail-page .trash {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 0 16px 16px 0;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #202124;
}

.mail-page .inbox span:first-of-type,
.mail-page .starred span:first-of-type,
.mail-page .sent span:first-of-type,
.mail-page .draft span:first-of-type,
.mail-page .trash span:first-of-type {
    margin-left: 10px;

}

.mail-page .inbox span:last-child,
.mail-page .starred span:last-child,
.mail-page .sent span:last-child,
.mail-page .draft span:last-child,
.mail-page .trash span:last-child {
    margin-left: auto;
    color: #5f6368;
    font-size: 13px;
}

.mail-page .inbox:hover,
.mail-page .starred:hover,
.mail-page .sent:hover,
.mail-page .draft:hover,
.mail-page .trash:hover {
    background-color: #e8eaed;
    
}

.mail-page .main-table {
    padding: 5px;
    flex: 1;
    position: relative;
    border-radius: 50px;
    z-index: 0;
}

/* .main-table::before {
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: red;
} */

.mail-page .tab-item {
    color: #444746;
    display: flex;
    width: 256px;
    height: 50px;
    align-items: center;
    padding-inline: 20px;
    gap: 1em;
}

.mail-page .tab-active {
    color: #0b57cf;
    border-bottom: #0b57cf 3px solid;

}

.mail-page .tab-bar {
    display: flex;
    align-items: center;
    justify-items: center;
}

.mail-page .filter-bar {
    display: flex;
    gap: 24px;
    padding: 8px 16px;
    border-bottom: 1px solid #e0e0e0;
    color: #5f6368;
    font-size: 14px;
    
}

.mail-page .select-box {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.mail-page .select-box:hover {
    background-color: #e8eaed;
}

.mail-page .messages {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-items: center; */
}
  
.mail-page .msg-details {
    display: flex;
}

.mail-page .msg-details .title {


}

.mail-page .msg {
    display: grid;
    grid-template-columns: 30px 30px minmax(auto, 150px) auto 40px;        
    padding: 4px 16px;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    /* align-items: space-between; */
    /* justify-content: center;     */
    /* justify-content: space-between; */
    cursor: pointer;
    font-size: 14px;
    color: #202124;
}
  
.mail-page .msg:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3);
    z-index: 2;
}
  
input.checkbox {
    color: #c2c3c2;
}

.mail-page .star {
    color: #c2c3c2;
    font-size: 16px;
}

.mail-page .star:hover {
    color: #5f6368;
}

.mail-page .user {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

.mail-page .title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-page .subtitle {
    color: #5f6368;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-page .date {
    /* color: #5f6368;     */
    font-size: 12px;
    font-weight: bold;
}