body {
    margin: 0;
    line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


:root {
    --variable: 20px;  /* var() */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {    
}

body {
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

a {
    color: inherit; 
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {    
    margin: 0 0 0 0;
    margin-block: 0;
    line-height: 1.4em;
}

p {
    margin: 0 0 0;
}

input {
    border: 0;
    outline: none;
    
    /* font-size: 1.0em; */
    /* padding-inline: 20px; */
}

html, body {
    height: 100%;
}

