.note-page {
    /*font-family: "Product Sans", Arial, sans-serif;*/
    font-family: "Open Sans";
}

/*.note-page * {*/

/*font-family: "Product-Sans";*/
/*font-family: "Open Sans";*/
/*font-family: "Product-Sans", sans-serif;*/
/*font-family: "Product Sans", sans-serif;*/
/*font-family: "google sans",Roboto,Arial,sans-serif;*/

/*}*/


.note-page .logo {
    width: 256px;
    display: flex;
    align-items: center;
    justify-items: start;
}

.logo>* {
    font-size: 1.3em;
    color: #444746;
    font-weight: normal;
    font-family: Product-Sans;
}

.note-header .logo img {
    width: 32px;
    margin-inline-end: 9px;
}

.note-page .logo>.fa-bars {
    margin-inline: 9px;
    font-size: 1.0em;
}


.user-details,
.note-page .toolbar {
    color: #757575;
    font-weight: normal;
    font-size: 1.2em;
}

.note-page .toolbar i {
    font-size: 2em;
    width: 48px;
    height: 48px;

}

.note-page .user-details {

    width: 100px;
    display: flex;
    gap: 0.7em;
    align-items: center;
    /* justify-items: space-between; */
    justify-content: end;
    place-items: center;

    margin-inline: auto;
}



.internal-editor {
    width: 100%;
    padding: 5px 10px;

}

.side-bar .side-active {
    background-color: rgb(254, 239, 195);
}

.side-bar:hover .side-active:hover {
    background-color: rgb(254, 239, 195);
}

.note-page .toolbar {

    width: 100px;
    display: flex;

    /* gap: 1em; */
    align-items: center;
    justify-items: space-between;
    justify-content: space-between;
    place-items: center;

    margin-inline: 45px;
}

.note-page .logo {
    /* margin-inline: 20px; */
    display: flex;
    align-items: center;
    justify-items: start;
    /*gap: 0.6em;*/
    width: 232px;
    font-family: "Product Sans", Arial, sans-serif;
}

.note-page .logo i {
    color: #5f637c;
    font-size: 1.3em;
    /*margin-inline: 23px 20px;*/

}

.note-page .logo h3 {
    color: #5f637c;
    font-weight: normal;
    font-size: 1.3em;
}


.note-header img {
    width: 40px;
    height: 40px;
    /* margin-inline: 20px; */
}

.search-bar::before {
    /* z-index: 0; */
    left: 15px;

    content: '\f002';
    font-size: 0.8em;
    position: absolute;
    /* color: transparent; */
    pointer-events: none;
    font-family: "fa-solid";
    /* text-shadow: 0 0 0 lightgray; */
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    cursor: text;
    border: none;
    display: flex;
    gap: 8px;
}

.note-page .note-page .search-bar button {
    padding: 8px 16px;
    cursor: pointer;
}

input.newnote {
    /* position: absolute; */
    /* z-index: 1; */
    margin-inline: auto;
    width: 750px;
    height: 44px;
    outline: none;
    font-size: 0.8em;
    border-radius: 6px;
    /* margin-block: 40px; */
    padding-inline: 20px;
    border: 1px solid gray;
    margin-block: 12px;
    /* background-color: #f0f2f3; */
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    padding-inline-start: 40px;

}

.new-notea::before {
    /* z-index: 0; */
    left: 15px;

    content: '\f002';
    font-size: 0.8em;
    position: absolute;
    /* color: transparent; */
    pointer-events: none;
    font-family: "fa-solid";
    /* text-shadow: 0 0 0 lightgray; */
}

.note-page .note-page .new-note button {
    padding: 8px 16px;
    cursor: pointer;
}


.note-page .search-bar:focus-within input {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15)
}

.note-page input.searchbox {
    width: 750px;
    height: 48px;
    outline: none;
    font-size: 0.8em;
    border-radius: 6px;
    /* margin-block: 40px; */
    padding-inline: 20px;
    /* border: 1px solid gray; */
    margin-block: 12px;
    background-color: #f0f2f3;


    padding-inline-start: 40px;

}



.note-header .logo img {
    /*width: auto;*/
    /*height: 20px;*/
    /*object-fit: contain;*/
    width: 32px;
    /*height: 32px;*/
    /*margin-inline-end: 9px;*/
}

.note-page .note-header {
    background-color: #fefefe;
    /* background-color: #f0f5f8; */
    border-bottom: 1px solid #d9dbdf;
    display: flex;

}

.note-page .logo {
    width: 256px;
}


.note-page .main-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    /*margin: 0 20px;*/
    height: 100vh;
    background-color: #fff;
}





.note-page .main-table {
    padding: 5px;
    flex: 1;
    position: relative;
    border-radius: 50px;
    z-index: 0;
}


.note-page .tab-item {
    color: #444746;
    display: flex;
    width: 256px;
    height: 50px;
    align-items: center;
    padding-inline: 20px;
    gap: 1em;
}

.note-page .tab-active {
    color: #0b57cf;
    border-bottom: #0b57cf 3px solid;

}

.note-page .tab-bar {
    display: flex;
    align-items: center;
    justify-items: center;
}

.note-page .filter-bar {
    display: flex;
    gap: 24px;
    padding: 8px 16px;
    border-bottom: 1px solid #e0e0e0;
    color: #5f6368;
    font-size: 14px;

}

.note-page .select-box {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.note-page .select-box:hover {
    background-color: #e8eaed;
}

.note-page .messages {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-items: center; */
}

.note-page .msg-details {
    display: flex;
}



.note-page .msg {
    display: grid;
    grid-template-columns: 30px 30px minmax(auto, 150px) auto 40px;
    padding: 4px 16px;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    /* align-items: space-between; */
    /* justify-content: center;     */
    /* justify-content: space-between; */
    cursor: pointer;
    font-size: 14px;
    color: #202124;
}

.note-page .msg:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3);
    z-index: 2;
}

input.checkbox {
    color: #c2c3c2;
}

.note-page .star {
    color: #c2c3c2;
    font-size: 16px;
}

.note-page .star:hover {
    color: #5f6368;
}

.note-page .user {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

.note-page .title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-page .subtitle {
    color: #5f6368;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-page .date {
    /* color: #5f6368;     */
    font-size: 12px;
    font-weight: bold;
}


.note-tools {
    position: relative;
    display: flex;
    gap: 10px;
    /*padding: 8px 0;*/
}

.note-tools i {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    cursor: pointer;
}

.note-tools button {
    color: #202124;
    opacity: 0.71;
    padding: 6px;
}

.note-tools button:hover {
    background-color: rgba(95, 99, 104, 0.157);
}

.note-content {
    position: relative;
    padding: 2px 4px 0 4px;
}

.note-title {
    padding: 10px 0;
}

.note-text {
    padding: 12px 0;
    min-height: 46px;
}


.note-editor-img {
    width: auto;
    /*height: auto;*/
    height: 300px;
    min-height: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.note-editor-img:not([src]) {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(assets/imgs/unavailable.png);
}


.url-input-container {
    background: rgb(241, 243, 244);
    border-radius: 4px;
    padding: 8px 12px;
    margin: 4px 0;
}

.url-input {
    width: 100%;
    border: none;
    background: transparent;
    color: rgb(32, 33, 36);
    font-size: 14px;
}

.url-input::placeholder {
    color: rgb(95, 99, 104);
}

.url-hint {
    font-size: 12px;
    color: rgb(95, 99, 104);
    margin-top: 4px;
}

.others {
    margin-top: 5px;
}